.wholeContainer {
  min-height: 100vh; 
  padding: 3%;
}

.boxContainer {
  height: 40vh; 
  max-height: 70vh; 
  overflow-y: auto; 
}

.container {
  min-height: 40vh;
  display: flex;
  border: 1px;
  margin-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button1{
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 8px 16px;
  box-sizing: border-box;
  width: auto;  
  height: 5vh;
  align-items: center;
}
.button2{
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 8px 16px;
  box-sizing: border-box;
  width: auto;  
  height: 5vh;
  align-items: center;
}
.button3 {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 8px 16px;
  box-sizing: border-box;
  width: auto;  
  height: 5vh;
  align-items: center;
}